<div class="sign-up-container">
  <h1 class="sign-up-container__title">Sign up</h1>
  <div class="user-details">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="input-box">
        <label for="name" class="input-box__label">First Name</label>
        <input id="name" class="input-box__input" type="text" placeholder="Enter your name" formControlName="firstName"/>

        <div
          class="input-box__error"
          *ngIf="signUpForm.get('firstName')?.touched  && signUpForm.get('firstName')?.invalid">
          <span *ngIf="signUpForm.hasError('required', ['firstName'])">
           First name is required
          </span>
        </div>
      </div>
      <div class="input-box">
        <label for="surname" class="input-box__label">Last Name</label>
        <input id="surname" class="input-box__input" type="text" placeholder="Enter your last name" formControlName="lastName"/>

        <div
          class="input-box__error"
          *ngIf="signUpForm.get('lastName')?.touched  && signUpForm.get('lastName')?.invalid">
          <span *ngIf="signUpForm.hasError('required', ['lastName'])">
            Last name is required
          </span>
        </div>
      </div>
      <div class="input-box">
        <label for="email" class="input-box__label">Email</label>
        <input id="email" class="input-box__input" type="text" placeholder="Enter your e-mail address"
               formControlName="email"/>

        <div
          class="input-box__error"
          *ngIf="signUpForm.get('email')?.touched  && signUpForm.get('email')?.invalid">
          <span *ngIf="signUpForm.hasError('required', ['email'])">
            Email is required
          </span>
        </div>
        <div
          class="input-box__error"
          *ngIf="signUpForm.get('email')?.touched  && signUpForm.get('email')?.invalid && !signUpForm.hasError('required', ['email'])">
          <span *ngIf="signUpForm.hasError('invalidEmailFormat', ['email']) || signUpForm.hasError('email', ['email'])">
            Email is invalid
          </span>
        </div>
      </div>
      <div formGroupName="passwordGroup">
        <div class="input-box">
          <label for="password" class="input-box__label">Password</label>
          <input id="password" class="input-box__input" type="password" placeholder="Enter password"
                 formControlName="password"/>

          <div
            class="input-box__error"
            *ngIf="signUpForm.get('passwordGroup.password')?.touched && signUpForm.get('passwordGroup.password')?.invalid">
            <span *ngIf="signUpForm.get('passwordGroup.password')?.hasError('required')">
              Password is required
            </span>
          </div>
          <div
            class="input-box__error"
            *ngIf="signUpForm.get('passwordGroup.password')?.touched &&
            signUpForm.get('passwordGroup.password')?.invalid &&
            !signUpForm.get('passwordGroup.password')?.hasError('required')">
            <span *ngIf="signUpForm.get('passwordGroup.password')?.hasError('minlength')">
              Password is to small. Make it 8 characters
            </span>
          </div>
          <div
            class="input-box__error"
            *ngIf="signUpForm.get('passwordGroup.password')?.touched &&
            signUpForm.get('passwordGroup.password')?.invalid &&
            !signUpForm.get('passwordGroup.password')?.hasError('minlength') &&
            !signUpForm.get('passwordGroup.password')?.hasError('required')">
            <span *ngIf="signUpForm.get('passwordGroup.password')?.hasError('passwordContainsNameLastNameError')">
              Password is invalid. Should not contain first or last name
            </span>
          </div>
          <div
            class="input-box__error"
            *ngIf="signUpForm.get('passwordGroup.password')?.touched &&
            signUpForm.get('passwordGroup.password')?.invalid &&
            !signUpForm.get('passwordGroup.password')?.hasError('required') &&
            !signUpForm.get('passwordGroup.password')?.hasError('minlength') &&
            !signUpForm.get('passwordGroup.password')?.hasError('passwordContainsNameLastNameError')">
            <span *ngIf="signUpForm.get('passwordGroup.password')?.hasError('passwordLowerUpperError')">
              Password is invalid. Should contain lower and uppercase letters
            </span>
          </div>
        </div>
        <div class="input-box">
          <label for="confirmPassword" class="input-box__label">Confirm Password</label>
          <input id="confirmPassword" class="input-box__input" type="password" placeholder="Enter password"
                 formControlName="confirmPassword"/>

          <div
            class="input-box__error"
            *ngIf="signUpForm.get('passwordGroup.confirmPassword')?.touched && signUpForm.get('passwordGroup.confirmPassword')?.invalid">
            <span *ngIf="signUpForm.get('passwordGroup.confirmPassword')?.hasError('required')">
              Confirm password is required
            </span>
          </div>
          <div
            class="input-box__error"
            *ngIf="signUpForm.get('passwordGroup.confirmPassword')?.touched &&
            signUpForm.get('passwordGroup.confirmPassword')?.invalid &&
            !signUpForm.get('passwordGroup.confirmPassword')?.hasError('required')">
            <span *ngIf="signUpForm.get('passwordGroup')?.hasError('passwordMismatch')">
              Confirm password is invalid. Should be the same as a password
            </span>
          </div>
        </div>
      </div>
      <button [disabled]="signUpForm.invalid" class="sign-up-container__action" type="submit">Sign Up</button>
    </form>
  </div>
</div>

