.sign-up-container {
  max-width: 700px;
  width: 400px;
  padding: 20px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  &__title {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
  }
  &__action {
    height: 40px;
    width: 100%;
    background: linear-gradient(135deg, #2834D9FF, #ECE35EFF);
    border: none;
    color: #F6F1F1FF;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
    }
  }
}
.user-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.user-details .input-box {
  margin-bottom: 12px;
  &__label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #546E79FF;
    &:after {
      content: '*';
      position: relative;
      left: 2px;
      color: #F62626FF;
    }
  }
  &__input {
    height: 30px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    padding-left: 15px;
    font-size: 12px;
    transition: all 0.3s ease;
    margin-bottom: 5px;
    &:focus {
     border-color: #2834D9FF;
     box-shadow: 0 0 0 4px rgba(73,151,214,0.1), inset 0 1px 3px rgba(40,52,217,0.05);
    }
    &:valid {
      border-color: #2834D9FF;
    }
  }
  &__error {
    font-size: 10px;
    font-weight: 500;
    color:  #FF0000FF;
  }
}

